
nav select {
	display: none;
}

body {
	width: 100%;
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}
header {
	background-color: #87509c;
	color: #fff;
	padding: 0 0 4% 0;
}
.outer {
	position: relative;
}
body h1 {
	font-weight: 700;
	font-size: 42px;
}
h2 {
	font-size: 40px;
	font-weight: 700;
}
h3 {
	font-size: 24px;
	font-weight: 700;
}
body p {
	font-size: 18px;
	font-weight: 400;
}
.sm-border:after {
  position: absolute;
  content: '';
  width: 90px;
  height: 1px;
  border-bottom: 4px solid #14a58c;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%);
}
.team .sm-border:after {
	border-bottom: 4px solid #c8d9e5;
}
.skills .sm-border:after {
	border-bottom: 4px solid #dfe8ed;
}
.portfolio .sm-border:after {
	border-bottom: 4px solid #e5c37f;
	top: 30%;
}
.feedback .sm-border:after {
	border-bottom: 4px solid #b73c6d;
}
.feed .sm-border:after {
	border-bottom: 4px solid #273a71;
}
.logo h2 {
	position: absolute;
	top: -10000px;
}
.logo {
	width: 10%;
	height: 5vh;
	float: left;
	display: inline-block;
	background: url('../images/logo.png') no-repeat;
	background-size: contain;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.menu {
	width: 80%;
	padding: 3% 10% 4% 10%;
}

header ul li {
	display: inline-block;
	padding: 1% 3%;
	border-radius: 4px;
}
header ul li:active {
	background: #643a79;
}
nav {
	text-align: right;
	float: right;
	width: 60%;
}
nav a {
	text-decoration: none;
	color: #fff;
	display: block;
}
.invite {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}
header button {
	background: #eb7d4b;
	font-weight: 600;
	text-decoration: none;
	padding: 1.5% 6%;
	color: #fff;
	border: none;
	border-radius: 3px;
	border-bottom: 5px solid #c86a40;
}
.services {
	background: #17c2a4;
	margin: 0;
	padding: 5% 10%;
	color: #fff;
	text-align: center;
}
.service > div {
	width: 21%;
}
.service {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.service1 {
	width: 100%;
	height: 25vh;
	background: url(../images/service1.png) no-repeat;
	background-position: center;
}
.service2 {
	width: 100%;
	height: 25vh;
	background: url(../images/service2.png) no-repeat;
	background-position: center;
}
.service3 {
	width: 100%;
	height: 25vh;
	background: url(../images/service3.png) no-repeat;
	background-position: center;
}
.service4 {
	width: 100%;
	height: 25vh;
	background: url(../images/service4.png) no-repeat;
	background-position: center;
}
.service div {
	padding: 1% 2%;
}
.team {
	background: #e7f1f8;
	color: #3c4761;
	text-align: center;
	padding: 5% 5%;
}
.our_team {
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
}
.our_team > div {
	padding: 1% 3%;
	width: 19%;
	margin: 0;
	position: relative;
	padding-bottom: 8vh;
}
.team h5 {
	color: #55c5ea;
}
.teammate1, .teammate2, .teammate3, .teammate4 {
	width: 100%;
	height: 20vh;
	background: url(../images/teammate.png) no-repeat;
	background-size: contain;
	background-position: center;
}
.wrap {
	margin-bottom: 2%;
}
.our_team .social {
	padding: 0;
	width: 80%;
}
.our_team p {
	margin-bottom: 0;
}
.social {
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 10%;
}
.social div {
	display: inline-block;
	width: 15%;
	margin: 0 5px;
	height: 8vh;
}
.fb {
	background: url(../images/fb.png) no-repeat;
	background-size: contain;
	background-position: center;
}
.twitter {
	background: url(../images/twitter.png) no-repeat;
	background-size: contain;
	background-position: center;
}
.linkedin {
	background: url(../images/linkedin.png) no-repeat;
	background-size: contain;
	background-position: center;
}
.mail {
	background: url(../images/mail.png) no-repeat;
	background-size: contain;
	background-position: center;
}
.skills {
	background: #fff;
	color: #3c4761;
	text-align: center;
	padding: 5% 5%;
}
.charts {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}
.charts > div {
	width: 25%;
}
.charts h4 {

}
.chart1 {
	width: 100%;
	height: 25vh;
	background: url(../images/progress1.png) no-repeat;
	background-position: center;
	position: relative;
}
.chart2 {
	width: 100%;
	height: 25vh;
	background: url(../images/progress2.png) no-repeat;
	background-position: center;
	position: relative;
}
.chart3 {
	width: 100%;
	height: 25vh;
	background: url(../images/progress3.png) no-repeat;
	background-position: center;
	position: relative;
}
.chart4 {
	width: 100%;
	height: 25vh;
	background: url(../images/progress4.png) no-repeat;
	background-position: center;
	position: relative;
}
.captions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}
.captions > div {
	width: 25%;
	text-align: center;
}
.charts h2 {
	position: absolute;
	font-weight: 200;
	margin: 0;
	font-size: 35px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.portfolio {
	background: #ffdd99;
	color: #393939;
	text-align: center;
	padding: 5% 5%;
}
.portfolio ul {
	padding: 0;	
	width: 60%;
	margin: 0 auto;
}

.portfolio ul li {
	display: inline-block;
	background: #ebc985;
	width: 8%;
	border-radius: 4px;
	padding: 1% 2.5%;
}
figcaption {
	padding: 15px 0;
}
.portfolio ul li:active {
	background: #fff;
}
.portfolio ul li a {
	display: block;
	text-decoration: none;
	color: #393939;
}
.image_container {
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
}
.image_container div {
	width: 50%;
}
.image_container img {
	width: 100%;
}
.load_more {
	margin: 0 auto;
	background: #17c2a4;
	text-decoration: none;
	padding: 1.5% 6%;
	color: #fff;
	border: none;
	border-radius: 3px;
	border-bottom: 5px solid #14a58c;
}
.feedback {
	background: #d74680;
	color: #fff;
	text-align: center;
	padding: 5% 5%;
}
.clients {
	display: flex;
	width: 80%;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
}
.clients div {
	width: 50%;
	margin: 2% 0;
}
.clients div div {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.feedback h5 {
	color: #ffdd99;
	margin: 0;
}
.feedback h3 {
	margin: 0;
}
.clients div div:nth-child(2) {
	width: 68%;
}
.clients div div:first-child {
	width: 25%;
	height: 100%;
	background: url(../images/feed.png) no-repeat;
}
.feed {
	background: #3c5499;
	color: #fff;
	text-align: center;
	padding: 5% 5%;
}
.feed > div {
	width: 60%;
	margin: 0 auto;
}
input {
	background: #273a71;
	border: none;
	border-radius: 4px;
	padding: 1% 2%;
	width: 45%;
}
.inputs {
	padding: 1% 0;
	margin: 0 auto;

}
.inputs input {
	padding: 2% 2%;
	width: 45%;
	color: #fff;
}
.inputs input:first-child {
	float:left;
}
.inputs input:nth-child(2) {
	float:right;
}
.feed div:nth-child(3) {
	overflow: hidden;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder { color: #fff; }
textarea:-moz-placeholder { color: #fff; }
input::-webkit-input-placeholder:after {
	content: "*";
	color: #000; 
}

textarea {
	margin: 0 auto;
	width: 100%;
	border-radius: 4px;
	background: #273a71;
	border: none;
	padding: 2%;
	color: #fff;
}
.feed button {
	margin: 0 auto;
	margin: 3% 0;
	background: #30bae7;
	text-decoration: none;
	padding: 1.5% 6%;
	color: #fff;
	border: none;
	border-radius: 3px;
	border-bottom: 5px solid #299ec5;
}
footer {
	background: #344b8e;
	padding: 1% 1%;
}
footer ul li {
	display: inline-block;
	width: 13.5%;
}
footer a:hover {
	color: #30bae7;
}
footer a {
	text-decoration: none;
	color: #fff;
}
footer ul {
	width: 100%;
}
footer div {
	width: 70%;
	margin: 0 auto;
}
.child1, .child2 {
	flex-direction: row;
}
 @media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi)
  {
 .child1  div {
    width: 100%;
  }
  .child2 > div {
	width: 100%;
}
.child3 > div {
	width: 100%;
}
.social div {
	width: 100%;
 }
 .feed div {
	width: 100%;
}
.logo {
	width: 30%;
}
  nav ul { display: none; }
  nav select { display: inline-block; }
.social a {
	display: inline-block;
	width: 15%;
	margin: 0 2%;
	height: 8vh;
}
.chart1, .chart2, .chart3, .chart4 {
	height: 15vh;
}
.wrap {
	height: 15vh;
}
}
@media (max-width: 965px) {
.child1 > div {
    width: 100%;
  }
 .child3 > div {
 	width: 50%;
 }
.logo {
	width: 20%;
}
.child2 > div {
 	width: 44%;
 }
 .social div {
	width: 100%;
 }
.portfolio ul {
	width: 100%;
}
nav ul { display: none; }
nav select { display: inline-block; }
.social a {
	display: inline-block;
	width: 15%;
	margin: 0 2%;
	height: 8vh;
}
footer div {
	width: 90%;
}
footer ul {
	display: table;
}
footer ul li {
	display: table-cell;
}
.feed div {
	width: 100%;
}

}
@media (max-width: 600px) {
.child2 > div {
	width: 100%;
}
.child3 > div {
	width: 100%;
}
.portfolio ul {
	width: 100%;
}
.portfolio ul li {
	width: 15%;
}
.logo {
	width: 30%;
}
footer div {
	width: 80%;
	margin: 0 auto;

}
footer ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
footer ul li {
		width: 20%;
		margin: 0 5%;
}


.team .sm-border:after {
	top: 55%;
}
.feed .sm-border:after {
	top: 40%;
}
.feedback .sm-border:after {
	top: 65%;
}
}

